<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JobScrapper</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <hgroup>
                <h1>Search Result for "{{keyword}}" : </h1>
                <a target="_blank" href="/export?keyword={{keyword}}">Export to File</a>
            </hgroup>
            
            <figure>
                <table role="grid">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Position</th>
                            <th>Region</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs%}
                        <tr>
                            <td>{{job.company}}</td>
                            <td>{{job.position}}</td>
                            <td>{{job.region}}</td>
                            <td><a href = "{{job.link}}" target="_blank">Apply Now &rarr;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </figure>
            
            
        </main>
    </body>
</html>}}