<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>JobScrapper</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="css/styles.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <main class="container search-main">
      <div class="header-box glow">
        <header class="search-header">
          <h1>Search Result for "{{keyword}}" :</h1>
          <a target="_blank" href="/export?keyword={{keyword}}"
            >Export to File</a
          >
        </header>
      </div>
      <div class="table">
        {% for job in jobs%}
        <table class="rwd-table">
          <tbody>
            <tr>
              <td data-th="company">{{job.company}}</td>
              <td data-th="position">{{job.position}}</td>
              <td data-th="region">{{job.region}}</td>
              <td data-th="link">
                <a href="{{job.link}}" target="_blank">Apply Now &rarr;</a>
              </td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
